<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.web.dao.StudentDao">

	<cache eviction="LRU" type="com.web.until.MybatisCache"/>
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache" />
	
    <insert id="insertStudent" parameterType="Student">
          INSERT INTO student VALUES (0,#{stuName},#{stuSex},#{stuAge})
    </insert>
    <select id="findAll" resultType="Student" useCache="true">
          SELECT stuno,stuname,stusex,stuage FROM student
    </select>
    <select id="findById" parameterType="Integer" resultType="Student" useCache="true">
          SELECT stuno,stuname,stusex,stuage FROM student WHERE stuno=#{stuNo}
    </select>
    <update id="updateStudent" parameterType="Student">
          UPDATE student 
          <set>
              <if test="stuName!=null">
                  stuname=#{stuName},
              </if>
              <if test="stuSex==0 or stuSex==1">
                  stuSex=#{stuSex},
              </if>
              <if test="stuAge>0 and stuAge!=null">
                  stuAge=#{stuAge},
              </if>
          </set>
        WHERE stuno=#{stuNo}
    </update>
    <delete id="deleteStudent" parameterType="Integer">
        DELETE FROM student WHERE stuno=#{stuNo}
    </delete>
</mapper>